* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jersey 15", serif;
    font-style: normal;
    color: #fff;
}

body,
html {
    width: 100%;
    height: 100%;
}

body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 100px;
    letter-spacing: 10px;
    overflow: hidden;
}

h1 span{
    display: inline-block;
}